files:
  "/etc/newrelic-infra.yml" :
    mode: "000644"
    owner: root
    group: root
    content: |
      license_key: newrelic.license
container_commands:
  "01-agent-repository":
    command: sed -i -e 's/newrelic.license.*/'"$NR_Key"'/' /etc/newrelic-infra.yml
commands:
# Create the agent’s yum repository
  "01-agent-repository":
    command: sudo curl -o /etc/yum.repos.d/newrelic-infra.repo https://download.newrelic.com/infrastructure_agent/linux/yum/el/7/x86_64/newrelic-infra.repo

#
# Update your yum cache
  "02-update-yum-cache":
    command: sudo yum -q makecache -y --disablerepo='*' --enablerepo='newrelic-infra'

#
# Run the installation script
  "03-run-installation-script":
    command: sudo yum install newrelic-infra -y
  "04-copy-newrelic":
    command: cp -R .ebextensions/newrelic /opt/







