files: 
  "/opt/newrelic.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      license=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.NR_Key')
      sed -i -e 's|newrelic.license|'$license'|g' /opt/newrelic/newrelic.yml
      AppName=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.NR_APM')
      sed -i -e 's|newrelic.ApplicationName|'$AppName'|g' /opt/newrelic/newrelic.yml
      
container_commands:
  "01-copy-newrelic":
    command: cp -R .ebextensions/newrelic/* /opt/
  "11_newrelic_script":
    command: "sudo sh /opt/newrelic.sh"
